MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>
PORT=3000
NODE_ENV=development
GF_SECURITY_ADMIN_USER=<grafana_admin_user>
GF_SECURITY_ADMIN_PASSWORD=<grafana_admin_password>
